.bg-back {
    background-image: url('https://th.bing.com/th/id/OIP.twDw1sXK9O2QQzPZoHEg3gHaEK?rs=1&pid=ImgDetMain');
    object-fit: cover;
    background-position: center;
    border-radius: 8px;
    border: 2px solid black;
    padding: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.bg-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: -1;
}

.bg-back label,
.bg-back input,
.bg-back button {
    position: relative;
    z-index: 2;
}